os: linux
dist: jammy
language: python
python:
- "3.11"
- "3.10"
- "3.9.14"
- "3.8"
- "3.7"

# https://github.com/travis-ci/travis-ci/issues/1147#issuecomment-441393807
if: type != push OR branch = master OR branch =~ /^v\d+\.\d+(\.\d+)?(-\S*)?$/

before_install: |
  curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain stable --profile minimal
  source "$HOME/.cargo/env"
  pip install --upgrade pip 'setuptools==65.6.2' 'poetry>=1.2.0'

install: pip install --upgrade "tox < 4" tox-travis
script: tox

cache:
  pip: true
  directories:
  - $TRAVIS_BUILD_DIR/.tox/
  - $HOME/.cache/pypoetry

jobs:
  include:
  - stage: smoke test
    services:
    - docker
    script:
    - pip install poetry
    - poetry build
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
    - ci/run_tests.sh
  - stage: release
    if: branch = master
    script: skip
    before_deploy:
    - pip install poetry
    - nvm install lts/*
    - npm i -g
      semantic-release
      @semantic-release/exec
      @semantic-release/git
      @semantic-release/changelog
      @google/semantic-release-replace-plugin
    # Note publishing this way requires the PyPI credentials to be
    # present in the environment. Travis doesn't currently support
    # providing environment variables to deploy providers through
    # the build config (i.e. in this file). So, they must be
    # provided through the build settings instead.
    deploy:
    - provider: script
      script: semantic-release
      on:
        branch: master
