[tool.poetry]
name = "appmap"
# @@appmap-python-version@@
version = "0.0.0"
description = "Create AppMap files by recording a Python application."
readme = "README.md"
authors = ["Alan Potter <alan@app.land>"]

[tool.poetry.dependencies]
python = "^3.5"
PyYAML = "~5.3.0"
inflection = "~0.3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
pytest-randomly = "^3.5.0"
pylint = "^2.6.0"
flake8 = "^3.8.4"
pyfakefs = "^4.3.2"
pprintpp = "^0.4.0"
coverage = "^5.3"
pytest-mock = "^3.5.1"
Django = [
  { version = "~2.2", python = "< 3.6"},
  { version = "^3.1.6", python = "^3.6"}
]
vermin = "^1.1.0"
tox = "^3.22.0"
tox-pyenv = "^1.1.0"
tox-travis = "^0.12"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."pytest11"]
appmap = "appmap.pytest"
