name: Build
on:
    pull_request: # to master
    schedule:
        - cron: "0 0 * * 0"
    push:
      branches:   # CI debugging
        - "ci/**"
jobs:
  lint: 
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
    - uses: ./.github/actions/setup-python-pip-tox
      with:
        python: 3.12
    - name: Lint
      run: tox -e lint  
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python: 
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9.14"
          - "3.8"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: ./.github/actions/setup-python-pip-tox
      with:
        python: ${{ matrix.python }}
    - uses: ./.github/actions/setup-rust-poetry
      with:
        python: ${{ matrix.python }}
    - name: Test
      run: tox
