name: Build
on:
    pull_request: # to master
    schedule:
        - cron: "0 0 * * 0"
    push:
      branches:   # CI debugging
        - "ci/**"
jobs:
  lint: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup
    - name: Lint
      id: lint
      run: tox -e lint  
      continue-on-error: true
    - name: Emit warning if lint failed
      if: ${{ steps.lint.outcome != 'success' }}
      run: echo "::warning::Linter failure suppressed (continue-on-error=true)"
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        python: 
          - "3.12"
          #- "3.11"
          #- "3.10"
          #- "3.9.14"
          #- "3.8"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup
      with:
        python: ${{ matrix.python }}
    - name: Test
      run: tox
  smoketest:
    runs-on: ubuntu-latest
    needs: [ 'lint','test' ]
    steps:
    - uses: actions/checkout@v5
    - name: dockerhub login (for seamless docker pulling)
      uses: ./.github/actions/dockerhub-login
      env:
        DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
        DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME    }}
      continue-on-error: true
    - id: setup
      uses: ./.github/actions/setup

    - run: poetry build
    - run: ci/run_tests.sh
      env:
        SMOKETEST_DOCKER_IMAGE: python:${{ steps.setup.outputs.python-version }}
